* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: rgb(99, 95, 95);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.grid-and-control {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 10px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.controls .gridDimension-title {
    margin-bottom: 10px;
}

.controls .color-picker-title {
    margin-bottom: 10px;
}

.color-picker #colorPicker {
    width: 50%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* width: 256px;
    height: 256px; */
}

.grid .grid-item {
    border: 1px solid black;
    /* width: 16px; */
    /* height: 16px; */
}

.grid .grid-item-hover {
    background-color: blue;
}

.reset-button {
    font-size: 0.9rem;
    width: 80px;
    height: 30px;
}